.plugin-content {
  color: var(--uxp-host-text-color-secondary, white);
  width: 100%;
  height: 65px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.plugin-content > * {
  margin: 6px;
}
