.plugin-content {
  color:var(--uxp-host-text-color-secondary, white);
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.plugin-content > * {
  margin: 5px;
}
